 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>User Directory</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" type="text/css" href="styles.css" />
 </head>

 <body>
<a href=/unemployed><h2>Looking for work</h2></a>
<a href=/employed><h2>Currently Employed</h2></a>

   <div class="user_gallery">

        <div class="row">
          {{#robots}}
          <a href="{{id}}">
          <div class="card">
            <img src="{{avatar}}"/>
            <h1>{{name}}</h1>
            {{#job}}
              <p class="job">{{job}}</p>
            {{/job}}
            {{^job}}
              <p class="hire">Available for hire</p>
            {{/job}}
          </div>
          </a>
          {{/robots}}
        </div>
      </div>
 </body>

 </html>
